@font-face {
    font-family: Gamename;
    src: url('fonts/PlayMeGames-Demo.otf');
}
@font-face {
    font-family: versusFont;
    src: url('fonts/PAC-FONT.TTF');
}




:root{

    /* Color pallet  */
  --Dominant-clr:#E4F2E7;
  --Element-clr:#93BFB7;
  --Dark-accent:#2D3E40;
   
  /* Extra colors */

--gray-acccent:#387373;
--pinkish-clr:#97A6A0;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.main{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--Dominant-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}

.main .text{

    font-family: Gamename;
    font-weight: 500;
    font-size: 60px;
    color: var(--Dark-accent);
    
}


.progress-bar{
    position: relative;
    width: 450px;
    height: 3em;
    background-color:var(--Dark-accent);
    border-radius: 1.5em;
    
}

.progress-bar::before{

    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    bottom: 0.5em;
    color: var(--Dominant-clr);
    font-weight: 400;
    width: calc(var(--width, 0) * 1%);
    min-width: 2rem;
    max-width: calc(100% - 3em);
    background-color: var(--gray-acccent);
    border-radius: 1em;
    padding: 1em;
    
}


.versus{
    display: none;
}

.versus img{
    width: 300px;
    
}

.versus-bar{
    display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   bottom: 30%;
   right: 15%;
   
    
}

.versus-bar p:first-child ,p:last-child{
    font-family: Gamename;
    font-size: 55px;
    color: var(--Dark-accent);
}

.versus-option-sect{
    display: flex;
    flex-direction: column;
    margin: 10px 50px; 
    align-items: center;
}


.select-versus{
    display: flex;
    gap: 70px;
    position: absolute;
    top: 80%;
    left: 38%;
    align-items: center;
    justify-content: center;
    
   

}


.select-versus button{
    padding: 12px 20px;
    border: 2px var(--Dark-accent) solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    transition: .6s;

}

.select-versus button:hover{
    padding: 12px 20px;
    border: 2px var(--Dark-accent) solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    background-color: #2D3E40;
    color: var(--Dominant-clr);

}


#typedtext{
    position: absolute;
      top: 70%;
      right: 33%;
}

#typedtext h1 {
     font-family: 'Waiting for the Sunrise', cursive;  ;
    font-size: 15px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .4em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(43, end),
      blink-caret .75s step-end infinite;
      
    
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
